* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.countdown {
    display: flex;
    gap: 20px;
}

.box {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    width: 90px;
}

.box span {
    font-size: 2.2rem;
    font-weight: bold;
    display: block;
}

.box p {
    margin-top: 5px;
    font-size: 1rem;
}